{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
  <link href='https://fonts.googleapis.com/css?family=DM Serif Display' rel='stylesheet'>
  <link rel="stylesheet" href="https://use.typekit.net/udu0hib.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/258137d1e0.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/style.css' %}"/>

<script type="text/javascript" canvas="canvas">
  var openSearch;
  var closeSearch;
  var openArchive;
  var closeArchive;
  var openPalette;
  var closePalette;
  var openMusic;
  var closeMusic;
  var openSettings;
  var closeSettings;
  var openShare;
  var closeShare;
  var undoButton;

		window.onload = function() {
			var canvas = document.getElementById('myCanvas');

			// Colorable album cover
        var album = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/debussy_vector.svg'
			};

			// Color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}
      
      // Open-close feature for toggle menus 
      openSearch = function() {
        document.getElementById("search").style.height = "100%";
      }

      closeSearch = function() {
        document.getElementById("search").style.height = "0%";
      }
      
      openArchive = function() {
        document.getElementById("archive").style.height = "32%";
      }

      closeArchive = function() {
        document.getElementById("archive").style.height = "0%";
      }
      
      openPalette = function() {
        document.getElementById("palette").style.width = "15%";
      }

      closePalette = function() {
        document.getElementById("palette").style.width = "0%";
      }
      
      openMusic = function() {
        document.getElementById("music").style.height = "50%";
      }

      closeMusic = function() {
        document.getElementById("music").style.height = "0%";
      }
      
      openSettings = function() {
        document.getElementById("settings").style.width = "20%";
      }

      closeSettings = function() {
        document.getElementById("settings").style.width = "0%";
      }
      
      openShare = function() {
        document.getElementById("share").style.width = "20%";
      }

      closeShare = function() {
        document.getElementById("share").style.width = "0%";
      }


			// Coloring tool 
      var path;
      var paths = [];

      function myCustomInteraction() {

				var tool = new paper.Tool();

        tool.onMouseDown = function(event) {
          path = new paper.Path();
          path.strokeColor = cp.history[cp.history.length - 1];
          path.strokeWidth = 7;
          path.add(event.point);
        }

        tool.onMouseDrag = function(event) {
          path.add(event.point);
          paths.push(path);
        }
			}

      undoButton = function() {
        document.getElementById('undo-button').onclick = function() {var lastPath = paths.pop();
        lastPath.remove();}                                        
      }

			// Create a color palette with the given colors
			function createColorPalette(colors){

				// Create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
									   .addClass("swatch");
					$swatch.click(function(){
						// Add color to the color palette history
					  	cp.history.push($(this).css("background-color"));
					});
					cp.$container.append($swatch);
				}
			}

			// Loads a set of colors from a JSON to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom){
				paper.setup(canvas);
				getColorsCreatePalette();

				paper.project.importSVG(album.filePath, function(item) {
					album.item = item._children["design-freepik"];
				    paper.project.insertLayer(0,album.item);

				    if (custom) {
				    	myCustomInteraction();
				    } else {
				    	myGradientInteraction();
				    }

				});
			}

			var url = window.location.href;
			if (url.indexOf("gradient") > -1) {
				init(false);
			} else {
				init(true);
			}

		}
    
	</script>
    <script>
$(document).ready(function(){
   $('#archive-load').load("http://p2-paperjs-tffnybnsws-tboonsawas248165.codeanyapp.com/coloring/archive/");
});
</script>
      <script>
$(document).ready(function(){
   $('#search-load').load("http://p2-paperjs-tffnybnsws-tboonsawas248165.codeanyapp.com/coloring/search/");
});
</script>
</head>
  
<body>
	<canvas id="myCanvas" width="750px" height="750px"></canvas>
  
  <!-- SEARCH -->
  <div id="search" class="search-overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeSearch()">&times;</a>
  <div class="search-overlay-content">
    <div id="search-load"></div>
    </div>
</div>
<!-- Music player icon -->
<button class="search-toggle-btn" onclick="openSearch()"><img src="https://img.icons8.com/small/64/000000/search.png" alt="" width="30" height="30"></button>

  <!-- ARCHIVE -->
  <div id="archive" class="archive-overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeArchive()">&times;</a>
  <div class="archive-overlay-content">
    <div id="archive-load"></div>
    </div>
</div>
<!-- Music player icon -->
<button class="archive-toggle-btn" onclick="openArchive()"><i class="material-icons" style="font-size:30px;">collections</i></button>

<!-- TOOL PALETTE -->
  <div id="palette" class="palette-overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closePalette()"><i class="material-icons">arrow_forward_ios</i></a>
  <div class="palette-overlay-content">
	<div id="color-palette"></div>
  </div>
</div>

<!-- undo button --> 
<button id="undo-button" onclick="undoButton()"><i class="fas fa-undo-alt"></i>
  </button>

<!-- Right toggle arrow -->
<button class="palette-toggle-btn" onclick="openPalette()"><i class="material-icons" style="font-size:20px;">arrow_back_ios</i></button>

<!-- MUSIC PLAYER -->
<div id="music" class="music-overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeMusic()">&times;</a>
  <div class="music-overlay-content">
    <iframe src="https://open.spotify.com/embed/album/1O0zuT2lYKReG237V89YV5" width="100%" height="750" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>
</div>
<!-- Music player icon -->
<button class="music-toggle-btn" onclick="openMusic()"><i class="fa fa-spotify"></i></button>

  
  <!-- USER SETTINGS -->
  <div id="settings" class="settings-overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeSettings()"><i class="material-icons">arrow_back_ios</i></a>
  <div class="settings-overlay-content">
<i class="material-icons" style="font-size:80px;">account_circle</i>
    <a href="#">Profile</a>
    <a href="#">Account</a>
    <a href="#">Social</a>
    <a href="#">Music Quality</a>
    <a href="#">Notifications</a>
    <div class="settings-menu-spacing">
  <button class="settings-log-out">
    log out
  </button>
  </div>
  </div>
</div>
<!-- Toggle icon -->
<button class="settings-toggle-btn" onclick="openSettings()"><i class="material-icons">menu</i></button>

  <!-- SHARE & EXPORT -->
  <div id="share" class="share-overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeShare()"><i class="material-icons">arrow_back_ios</i></a>
  <div class="share-overlay-content">
    <h3>Share & Export</h3>
    </h3>
      <button class="share-log-out">
    save to collection
    </button>
      <button class="share-log-out">
    print
  </button>
    <div class="social">
      <i class="fa fa-envelope-open-text"></i>
      <i class="fa fa-pinterest"></i>
      <i class="fa fa-instagram"></i>
      <i class="fa fa-facebook"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-sms"></i>
    </div>
  </div>
  </div>
<!-- Toggle icon -->
<button class="share-toggle-btn" onclick="openShare()"><i class="material-icons">arrow_forward_ios</i></button>
  
  </body>
</html>
