{% load static %}

<!DOCTYPE html>
<html>
  <head>
    
  </head>
  
<div id='wheelExt'>
  <div id="wheel">
    <div class="wheel_part color01"></div>
    <div class="wheel_part color02"></div>
    <div class="wheel_part color03"></div>
    <div class="wheel_part color04"></div>
    <div class="wheel_part word color05"></div>
    <div class="wheel_part word color06"></div>
    <span class="wheel_part word word01">Spinning</span>
    <span class="wheel_part word word02">The</span>
    <span class="wheel_part word word03">Circle</span>
    <span class="wheel_part word word04">Is</span>
    <span class="wheel_part word word05">Super</span>
    <span class="wheel_part word word06">Exciting</span>
  </div>
</div>
<div id='text'><p>Scroll On The Wheel</p></div>
  
</html>
