{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>Search</title>
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
  	<link rel="stylesheet" type="text/css" href="{% static 'css/search-style.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/style.css' %}"/>
</head>
<body>	
<div id="wrap">
  <form action="" autocomplete="on">
  <input id="search" name="search" type="text" placeholder="Search by album or artist"><input id="search_submit" value="Rechercher" type="submit">
  </form>
  </div>
  &nbsp;
<div id="browse-wrap">
  <h1>Suggestions For You</h1>
<div class="container">
<div class="row">
  <div class="column">
    <img src="https://m.media-amazon.com/images/I/81uhlv3bFHL._SS500_.jpg" alt="" width="120" height="120">
    <h4>Je n'aime pas Debussy, mais ça j'aime bien !</h4>
    <p>Various Artists</p>
  </div>
  <div class="column">
    <img src="https://images-na.ssl-images-amazon.com/images/I/71O0LJQTb8L._SY355_.jpg" alt="" width="120" height="120">
    <h4>You Made Me Realise</h4>
    <p>My Bloody Valentine</p>
  </div>
  <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/en/0/04/On_Fire_%28Front_Cover%29.png" alt="" width="120" height="120">
    <h4>On Fire</h4>
    <p>Galaxy 500</p>
  </div>
  <div class="column">
    <img src="https://images-na.ssl-images-amazon.com/images/I/815xFJ-yQeL._SY355_.jpg" alt="" width="120" height="120">
    <h4>You Can't Hide Your Love Forever</h4>
    <p>Orange Juice</p>
  </div>
  <div class="column">
    <img src="https://vollverjackt.com/img/793e1e4bffa763e0ff2705e9d1d0bab6.jpg" alt="" width="120" height="120">
    <h4>Hounds of Love</h4>
    <p>Kate Bush</p>
  </div>
  <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8b/Radiohead.bends.albumart.jpg/220px-Radiohead.bends.albumart.jpg" alt="" width="120" height="120">
    <h4>The Bends</h4>
    <p>Radiohead</p>
  </div>
  <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/0b/Four-Calendar_Caf%C3%A9.jpg/220px-Four-Calendar_Caf%C3%A9.jpg" alt="" width="120" height="120">
    <h4>Four-Calendar Cafe</h4>
    <p>Cocteau Twins</p>
  </div>
</div>
</div>

<h1>Mandopop</h1>
<div class="container">
<div class="row">
  <div class="column">
    <img src="https://is4-ssl.mzstatic.com/image/thumb/Music69/v4/13/f5/fe/13f5febd-ab8e-a302-df89-ff688dba8567/Jonathan_LEE-Hill-cover.jpg/626x0w.jpg" alt="" width="120" height="120">
    <h4>A Work By</h4>
    <p>Jonathan Lee</p>
  </div>
  <div class="column">
    <img src="https://m.media-amazon.com/images/I/81o9t4HVdcL._SS500_.jpg" alt="" width="120" height="120">
    <h4>Still</h4>
    <p>Li Jian</p>
  </div>
  <div class="column">
    <img src="https://images-na.ssl-images-amazon.com/images/I/91JJUM5j5QL._SL1420_.jpg" alt="" width="120" height="120">
    <h4>The Moment</h4>
    <p>Yanzi Sun</p>
  </div>
  <div class="column">
    <img src="https://images-na.ssl-images-amazon.com/images/I/518Gd-NnjfL.jpg" alt="" width="120" height="120">
    <h4>On the Run!</h4>
    <p>Jay Chou</p>
  </div>
  <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5b/FayeWong_FayeWong2001.jpg/220px-FayeWong_FayeWong2001.jpg" alt="" width="120" height="120">
    <h4>Faye Wong (2001)</h4>
    <p>Faye Wong</p>
  </div>
  <div class="column">
    <img src="https://is1-ssl.mzstatic.com/image/thumb/Music128/v4/e0/2e/96/e02e964d-00c6-adcc-6cb4-6521396a13bd/cover_for_apple.png/600x600bf.png" alt="" width="120" height="120">
    <h4>Kids Only</h4>
    <p>Leah Dou</p>
  </div>
  <div class="column">
    <img src="https://images-na.ssl-images-amazon.com/images/I/61WW2s836iL._SY355_.jpg" alt="" width="120" height="120">
    <h4>Winter Endless</h4>
    <p>Sodagreen</p>
  </div>
</div>
</div>

<h1>Indie</h1>
<div class="container">
<div class="row">
<div class="column">
    <img src="https://media.pitchfork.com/photos/5929c57b0c2bba1b7de0149d/1:1/w_320/a6c0351f.jpg" alt="" width="120" height="120">
    <h4>Sugar at the Gate</h4>
    <p>Tops</p>
  </div>
  <div class="column">
    <img src="https://f4.bcbits.com/img/a2219673201_10.jpg" alt="" width="120" height="120">
    <h4>The House</h4>
    <p>Porches</p>
  </div>
  <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4f/DIIV_-_Is_the_Is_Are.jpg/220px-DIIV_-_Is_the_Is_Are.jpg" alt="" width="120" height="120">
    <h4>Is the Is Are</h4>
    <p>DIIV</p>
  </div>
  <div class="column">
    <img src="https://media.pitchfork.com/photos/5929a2d55e6ef959693204f1/1:1/w_320/15e19dfe.jpg" alt="" width="120" height="120">
    <h4>No Regerts</h4>
    <p>Chastity Belt</p>
  </div>
  <div class="column">
    <img src="https://f4.bcbits.com/img/a2610995718_2.jpg" alt="" width="120" height="120">
    <h4>m_o_d_e_s</h4>
    <p>Tomemitsu</p>
  </div>
    <div class="column">
    <img src="https://media.pitchfork.com/photos/5929c56bc0084474cd0c3739/1:1/w_320/69029fd6.jpg" alt="" width="120" height="120">
    <h4>Routines</h4>
    <p>Hoops</p>
  </div>
   <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/ca/Black_Marble_It%27s_Immaterial.jpg/220px-Black_Marble_It%27s_Immaterial.jpg" alt="" width="120" height="120">
    <h4>It's Immaterial</h4>
    <p>Black Marble</p>
  </div>
</div>
</div>
  </div>
  </body>
</html>